.overlay {
  max-width: 480px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/Slider.jpg');
  background-color: rgba(47, 48, 58, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
